body{
  
  font-family: 'Merriweather', serif;
  color:#45b29a ;
 
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem ;
  color: #45b29a;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color:#45b29a ;
  font-size: 2.5rem;
  
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#45b29a ;
  font-size: 1.5rem;
  
}
h4{
  font-family: 'Montserrat', sans-serif;
  color:#45b29a ;
}
.cont1{
  background-color: #e0ebe8;
position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
} 
 .cloud1{
  position: absolute;
  right: 100px;
  top: 50px;
 }
.cloud2{
position: absolute;
left: 100px;
top: 100px;
}

.myimage{
  width: 180px;
  height: 180px;
}
.aboutme{
  margin-bottom: 1px ;
}
.Aboutme{
  margin-bottom: 200px;
}
.cont2{
  margin-bottom: 200px;
}
.headingwhatcanido{
  margin-bottom: 70px;
}
.whatcanido1{
  float: left;
  margin-left: 510px;
}
.design{
margin-right: 350px;
margin-bottom: 100px;
}
.whatcanido2{
  float: right;
  margin-right:380px ;
}
.develop{
  margin-left: 480px;

}
.cont3{
  margin-bottom: 100px;
}
.button{
  font-size: .8rem;
  background: #45b29a;
  color: white;
  padding: 0.75em 3.5em 0.75em 3.5em;
  text-decoration: none;
  font-weight: 400
}
.button:hover{
  background-color: #255e52;
}
.messageme{
  height: 40px;
  width: 40px;
  position: relative;
  top: 15px;
}
.help{
  margin-bottom: 20px;
}
.footer{
  background-color:#45b29a ;
  margin-bottom: 0; 
   padding: 2.5em 0 1.5em;
   color: white;
  
}
.links{
  color: white;
  text-decoration: none;
}
.links:hover{
  color:#255e52 ;
}
#instagram{
  
margin:20px;
}
#email{
  margin-right:20px;
 
}
.horizontalrule{
  border-style:none;
  border-top-style:dotted;
  border-color: grey;
  border-width:7px;
  width:10%;

  margin: auto ;
  margin-bottom: 100px;
}
#title{
  background-color: #e0ebe8;;

}
.navbar{
  
  --bs-navbar-color: #255e52;
  --bs-navbar-hover-color: #45b29a;
  --bs-navbar-brand-color: #255e52;
  --bs-navbar-brand-hover-color: #45b29a;


}
